header {
    background: linear-gradient(to right, #ff3131 , #ff914d);
    padding: 1rem 0;
    width: auto;
}

.navbar-nav .nav-link.active, .nav-link.show, .navbar-brand, .nav-link {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
}

#abrirCarrinho {
    background: transparent;
    border: none;
}

#contadorCarrinho {
    font-size: 1.5rem;
    font-weight: 700;
    background-color: var(--cor-secundaria);
    padding: 2px 8px;
    border-radius: 50%;
    color: var(--cor-primaria);
}

