h2 {
    margin-bottom: 1rem;
    color: var(--cor-primaria);
    font-family: var(--fonte-desconto);
    font-size: 2rem;
}

.carousel-indicators [data-bs-target] {
    background-color: var(--cor-primaria);
}

.saudaveis {
    margin-top: 10rem;
}


.coluna {
    border: 2px solid black;
    border-radius: 10px;
    display: inline-flex;
    width: 15rem;
    height: 35rem;
    flex-direction: column;
}

.coluna h3 {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}
.coluna p {
    font-size: 1.5rem;
}

.descricao {
    padding: 0 20px;
    display: inline-flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.preco {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.preco img {
    border-radius: 5px;
    background: var(--cor-primaria);
}

.preco p {
    padding: 0.5rem;
    color: var(--cor-primaria); 
    font-family: var(--fonte-desconto);
    font-size: 1.3rem;
}